In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
reviews = []

stars = []
date = []
country = []

In [8]:
for i in range(1,36):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "html.parser")
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
        
    for item in soup.find_all("div", class_="rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
            
    for item in soup.find_all("time"):
        date.append(item.next)
    
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 33
Error on page 35
Error on page 35

In [9]:
len(reviews)

3500

In [10]:
len(country)

3500

In [11]:
stars = stars[:3500]

In [12]:
df = pd.DataFrame({"reviews":reviews,"stars":stars,"date":date,"country":country})

In [13]:
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | Straightforward check in T...,\n\t\t\t\t\t\t\t\t\t\t\t\t5,30th August 2024,United Kingdom
1,Not Verified | I am beyond upset and disgusted...,8,28th August 2024,United Kingdom
2,✅ Trip Verified | I purchased round trip dir...,1,28th August 2024,Hong Kong
3,Not Verified | I booked two business class sea...,1,27th August 2024,United States
4,Not Verified | Although all four flights were ...,1,26th August 2024,United Kingdom

In [14]:
df.shape

(3500, 4)

In [15]:
df.to_csv("BA_reviews.csv")